@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

#days {
  font-size: 7rem;
  color: #fff01d;
}
#hours {
  font-size: 5rem;
  color: #f07c22;
}
#minutes {
  font-size: 3rem;
  color: #f6da74;
}
#seconds {
  font-size: 2rem;
  color: #abcd58;
}

/* .timer-container {
  line-height: 1;
  padding: 2rem;
  font-size: 40px;
} */

.count-text {
  display: block;
  font-size: 1rem;
  color: white;
}

.timer-body {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-weight: 900;
  font-family: amit;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}